@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "EB Garamond", serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(110deg, #003099, #8a8aa0);
}

.relogio {
    width: 500px;
    height: 200px;
    border-radius: 3px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5) ;
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: space-evenly;
}

.relogio div {
   width: 150px;
   height: 170px;
   letter-spacing: 3px;
   border-radius: 5px;
   background: rgba(5, 5, 5, .9);
   box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
   display: flex;
   color: white;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
}

.relogio span {
    font-size: 19px;
    font-weight: bolder;
}

.relogio span .tempo {
    font-size: 10px;
}